* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GeneralSans-Variable', sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#map {
  position: relative;
  background-color: #171717;
  height: 100vh;
  width: 100vw;
}

/* --------------------------------
brush */

#brush {
  position: absolute;
  bottom: -5px;
  width: 100%;
  padding-left: 4vw;
  padding-right: 2vw;
}

.brush-xAxis,
.brush-yAxis,
.brush-grid-left,
.brush-grid-right {
  color: whitesmoke;
  font-size: 0.8rem;
}

/* --------------------------------*/

.side-panel {
  /* background-color: aqua; */
  position: absolute;
  top: 8%;
  right: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: whitesmoke;
}

/* --------------------------------
control component */

.intro-component {
  /* position */
  /* position: absolute; */

  /* fonts */
  width: 95%;
  font-size: 1rem;
  font-weight: 400;

  /* layout */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.designer {
  font-size: 0.8rem;
  font-weight: 200;
  font-style: italic;
}

.text {
  line-height: 1.5rem;
  font-kerning: auto;
  /* letter-spacing: 0.04rem; */
}

/* -------------------------------- */

/* --------------------------------
control component */

.control-component {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divider {
  background: whitesmoke;
  width: 90%;
  height: 0.005rem;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data-tab,
.encoding-tab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tab-title {
  font-weight: 600;
}

.data-option {
  display: flex;
  gap: 1rem;
}

.option-wrapper,
.option-dot,
.option-contour {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.parameter-dots,
.parameter-contours {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.parameter-dots {
  display: block;
}

.parameter-contours {
  display: none;
}

.parameter-wrapper {
  display: flex;
  gap: 1.5rem;
}

.clearPathsBtn {
  padding: 0.2rem;
}

/* -------------------------------- */

/* --------------------------------
source component */

.source-component {
  font-size: 0.8rem;
  font-weight: 200;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

a:link,
a:visited,
a:active {
  color: whitesmoke;
  text-decoration: none;
}

/* -------------------------------- */

input {
  accent-color: #9dcff8;
}

input[type='range'] {
  display: block;
}

input[type='radio'] {
  margin-right: 0.3rem;
}
